* {
    margin: 0;
    padding: 0;
}




.root-container {
    background-color: green;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 180px 1fr;
}




.sidebar {
    background-color: #bbf7d0;
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 90px;
    grid-auto-rows: 35px;
}

.menu-item {
    width: 190px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
}

div.main-row.menu-item {
    height: 50px;
}

.menu-item > svg {
    height: 25px;
    color: white;
}

.menu-item > svg.main-icon {
    height: 50px;
}

.menu-item > p {
    font-family: 'Roboto', sans-serif;
    color: #450a0a;
    font-size: 1.05rem;
}

.menu-item > p.main-text {
    font-size: 1.5rem;
}




.header {
    background-color: rgb(255, 255, 255);
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 350px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

.search-bar-container > svg {
    height: 25px;
}

.search-bar-container > .search-bar {
    border-radius: 15px;
    border: none;
    background-color: rgb(226, 226, 226);
    flex: 1 1 100px;
    max-width: 450px;
    height: 22px;
    padding: 6px;
}

.logged-in-user-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

div.logged-in-user-info-container > svg {
    height: 25px;
}

div.logged-in-user-info-container > img {
    height: 40px;
    border-radius: 40px;
    border: 2px solid black;
}

div.logged-in-user-info-container > p {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.05rem;
    font-weight: 700;
}

.user-info-container {
    display: grid;
    gap: 5px;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 1fr 1fr;
}

div.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.user-info-container img {
    height: 65px;
    border-radius: 65px;
    border: 2px solid black;
}

div.user-info-container p.upper-text {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 0.85rem;
    align-self: end;
}

div.user-info-container p.lower-text {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.05rem;
    font-weight: 700;
    align-self: start;
}

.header-button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-info-container > .icon-container {
    grid-row: 1/3;
}

.header-button {
    background-color: #1992d4;
    border: none;
    width: 80px;
    height: 32px;
    border-radius: 20px;
    color: white;
}




.contents {
    background-color: rgb(226, 232, 240);
    grid-area: 2/2/3/3;
    display: grid;
    gap: 20px;
    padding: 15px;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

div.contents h2.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
}

.contents > .projects-section {
    grid-row: 1/3;
}

.projects-section > .projects {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 190px;
    justify-items: center;
    align-items: center;
}

.project-card {
    width: 100%;
    height: 100%;
    border-left: 9px solid #f0b429;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}

div.project-card > p.project-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 2px;
}

div.project-card > p.project-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.89rem;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 2px;
}

div.project-card > svg {
    height: 25px;
    float: right;
    margin: 5px;
}

.contents > .announcements-section {
    width: 230px;
}

.announcements-section > .announcements {
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    display: grid;
    gap: 3px;
    grid-auto-rows: 1fr 1px 1fr 1px 1fr;
    border-radius: 10px;
}

.announcement-card {
    font-family: 'Roboto', sans-serif;
    width: 200px;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.75);
}

.announcement-card > p.announcement-header {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.separator {
    background-color: rgba(75, 75, 75, 0.418);
}

.contents > .trending-section {
    width: 230px;
}

.trending-section > .trending {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 245px;
    display: grid;
}

.trending-card {
    display: grid;
    grid-template-columns: 70px 120px;
    grid-template-rows: 20px 30px;
    font-family: 'Roboto', sans-serif;
}

.trending-card img {
    justify-self: center;
    grid-area: 1/1/3/2;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
}

.trending-card .user-tag {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.85);
    align-self: end;
}

.trending-card .user-desc {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.65);
}